/* Цвет основного текста #757575 */
/* Вторичный цвет текста #212121 */
/* Вторичный цвет футера текста #FFFFFF*/
/* Цвет логотипа  #2196F3 ,#000000*/
/* Акцент #2196F3 */
/* Основной цвет фона #757575 */
/* Вторичный цвет фона #F5F4FA */
/* Цвет фона банер и футер #2F303A */

:root {
  --primary-text-color: #757575;
  --tiile-text-color: #212121;
  --accent-color: #2196f3;
  --accent-secondary-color: #188ce8;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --logo-color: #000000;
  --contact-text-footer-color: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*========Reset==========*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
h1,
h2,
h3 {
  font-size: 14px;
}

/*=======End Reset=======*/
/*======Global class======*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.qualities-list__title,
.content-team__title {
  margin-bottom: 10px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.banner--hide,
.section__title--hide,
.social-network-list--hide,
.buttun-text--hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*======buttun==========*/
.buttun {
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttun--primary {
  display: inline-block;

  color: var(--primary-background-color);
  background-color: var(--accent-color);
  line-height: 1.88;

  letter-spacing: 0.06em;
  padding: 10px 32px;
  text-align: center;
}
.buttun--secondary {
  display: inline-block;
  color: var(--tiile-text-color);
  background-color: var(--third-background-color);
  font-weight: 500;
  line-height: 1.63;
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  text-align: center;
}
.buttun--primary:hover,
.buttun--primary:focus {
  background-color: var(--accent-secondary-color);
}
.buttun--secondary:hover,
.buttun--secondary:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*====== END Global class======*/
/*=======Header============*/
/*=======Logo==============*/
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  background-color: var(--primary-background-color);
  border: 1px solid #ececec;
  z-index: 2;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo--blue {
  color: var(--accent-color);
}
.logo--black {
  color: var(--logo-color);
}
.container--flex,
.main-nav {
  display: flex;
  align-items: center;
}

/*=======Site nav=======*/
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--tiile-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  content: '';
  height: 4px;
  width: 100%;
  margin-top: 28px;
  background: #2196f3;
  border-radius: 2px;
}
.contact-header .contact-header__item + .contact-header__item,
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

/*======contact==========*/
.contact-header {
  display: flex;
  margin-left: auto;
}

.contact-header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer__link {
  color: var(--contact-text-footer-color);
  line-height: 1.71;
  text-decoration: none;
}
.contact-footer__link--shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-header .contact-header__link:hover,
.contact-header .contact-header__link:focus {
  color: var(--accent-color);
}

.contact-header__svg-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contact-header__svg-tell {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/*======= END Header============*/
/*========Main===========*/
/*========Banner=========*/
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/baner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
.hero__title {
  margin-bottom: 30px;
  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*======particular qualities======*/
.qualities-list,
.doing-list,
.team-list {
  display: flex;
}
.qualities-list__item + .qualities-list__item,
.doing-list__item + .doing-list__item,
.team-list__item + .team-list__item {
  margin-left: 30px;
}
.qualities-list__item,
.team-list___item {
  width: 270px;
}
.qualities-list__title {
  color: var(--tiile-text-color);
  line-height: 1.14;
  text-transform: uppercase;
}
.qualities-list__icon-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.qualities-list__svg-qualities {
  width: 70px;
  height: 70px;
}
/*========What are we doing========*/
.section__title {
  margin-bottom: 50px;
  color: var(--tiile-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section__doing {
  padding-top: 0;
  padding-bottom: 94px;
}
.card-image--no-gap {
  display: block;
}
.doing-list__item {
  width: 370px;
}
.product-thumb {
  position: relative;
}
.box {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}
.box__title {
  color: var(--primary-background-color);
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
}
/*========Team=========*/
.section--background-color-grey {
  text-align: center;
  background-color: var(--third-background-color);
}
.content-team {
  padding: 30px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.content-team__title {
  color: var(--tiile-text-color);
  font-weight: 500;
}
.content-team__title,
.content-team__text {
  font-size: 16px;
  line-height: 1.19;
}
.content-team .social-network-list__svg {
  height: 20px;
  width: 20px;
  fill: currentColor;
}
.content-team .social-network-list__link {
  color: #afb1b8;
  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-list__link:hover,
.social-network-list__link:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
/*=========Regular customers======*/
.regular-customers-list {
  display: flex;
}

.regular-customers-list__svg-company {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.regular-customers-list__link-company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-list .regular-customers-list__link-company:hover,
.regular-customers-list .regular-customers-list__link-company:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.regular-customers-list__item + .regular-customers-list__item {
  margin-left: 30px;
}

/*========Portfolio========*/
.section__portfolio {
  padding-top: 88px;
  padding-bottom: 100px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.filter-list__item + .filter-list__item {
  margin-left: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--primary-background-color);
}
.portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list__link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover,
.portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.content-portfolio {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}
.content-portfolio__title {
  margin: 0 0 4px 0;
  color: var(--tiile-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  border-right-width: 1px;
}
.content-portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  border-right-width: 1px;
  color: var(--primary-text-color);
}
.section__portfolio .product-thumb {
  position: relative;
  overflow: hidden;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(294px);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;

  color: var(--primary-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .product-overlay,
.portfolio-list__link:focus .product-overlay {
  transform: translateY(0);
  opacity: 1;
}
/*======== END Main===========*/
/*========Footer==============*/
footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container--flex {
  align-items: baseline;
}
.address {
  margin-top: 20px;
  font-style: normal;
}
.logo--white {
  color: var(--primary-background-color);
}
.address__location {
  color: var(--primary-background-color);
  line-height: 1.71;
}
.contact-footer__item,
.address__location {
  margin-bottom: 9px;
  display: block;
}
.contact-footer__item:nth-child(2) {
  margin-bottom: 0;
}
.social-network-footer {
  margin-left: 70px;
}
.social-network-footer__titel {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.social-network-list {
  display: flex;
  margin-top: 20px;
}
.social-network-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-list__svg {
  height: 20px;
  width: 20px;
  fill: var(--primary-background-color);
}
.social-network-list__item + .social-network-list__item {
  margin-left: 10px;
}
.social-network-list__link:hover,
.social-network-list__link:focus {
  background-color: var(--accent-color);
}
.form-footer {
  margin-left: auto;
}
.form-footer__text {
  line-height: 1.142;
  text-transform: uppercase;

  color: var(--primary-background-color);
}
.grup {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.grup__form-field input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;

  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grup__form-field input::placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.buttun--flex {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 10px 28px;
  margin-left: 10px;

  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background: var(--accent-secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.buttun__svg-send {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

/*========END Footer==============*/

/*========Backdrop=========*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 3;

  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;

  transform: scale(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  padding: 40px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.buttun--close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;
  padding: 0;

  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttun__svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.buttun--close:hover,
.buttun--close:focus {
  color: var(--accent-color);
}
/*=====Form=======*/
.form {
  width: 448px;
  margin: 0 auto 0 auto;
  text-align: center;
}
textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
  text-align: left;
}
.form__field input {
  margin: 0;
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__text-lable {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.form__field textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--tiile-text-color);
}

.form__checkbox-agreement-conditions {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
}
.form__checkbox-agreement-conditions input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 16px;
  height: 15px;
  bottom: 126px;
  left: 52px;
  /*position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;*/
}
.form__text,
.form__checkbox-link {
  line-height: 1.71;
}
.form__text {
  margin-left: 7px;
}
.form__checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
.form__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;

  transform: scale(0.9);
}
.form__checkbox:checked + .form__icon-check {
  border-color: var(--accent-color);
  background-origin: border-box;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transform: scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.checkbox:focus + .icon-check {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0 2px red;
}
.checkbox:checked:focus + .icon-check {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0 2px red;
}*/
.form__svg-phone,
.form__svg-mail,
.form__svg-human {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 29px;
  left: 12px;
  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field input:hover,
.form__field textarea:hover,
.form__field input:focus-within,
.form__field textarea:focus-within {
  outline: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.form__field:focus-within > .form__svg-phone,
.form__field:hover > .form__svg-phone,
.form__field:focus-within > .form__svg-mail,
.form__field:hover > .form__svg-mail,
.form__field:focus-within > .form__svg-human,
.form__field:hover > .form__svg-human {
  fill: var(--accent-color);
}

.buttun--submit {
  display: inline-block;
  padding: 10px 55px 10px 55px;
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background: var(--accent-secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
