.header-container--flex {
  position: relative;
}
/*=======menucontainer mobile=======*/
.menu-container-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 796px;

  padding: 48px 40px;

  background-color: $primary-background-color;

  &--is-open {
    display: block;
  }
}

.site-nav-mobile__link {
  display: block;

  color: $tiile-text-color;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .site-nav-mobile &:hover,
  .site-nav-mobile &:focus {
    color: $accent-color;
  }
}

.site-nav-mobile__item + .site-nav-mobile__item,
.contact-header-mobile__item + .contact-header-mobile__item {
  margin-top: 32px;
}

.contact-header-mobile {
  margin-top: 302px;
  margin-bottom: 64px;
}
.contact-header-mobile__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;

  text-decoration: none;

  &--blue {
    font-size: 34px;
    color: $accent-color;
  }
}

.header-social-network-mobile {
  display: flex;
  flex-wrap: wrap;
}
.header-social-network-mobile__item + .header-social-network-mobile__item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.header-social-network-mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  padding: 0 10px;

  letter-spacing: 0.02em;

  color: $accent-color;
}
