.section__portfolio {
  padding-top: 88px;
  padding-bottom: 100px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.filter-list__item + .filter-list__item {
  margin-left: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: $primary-background-color;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-list__link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.content-portfolio {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $portfolio-border-color;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: $portfolio-border-color;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $portfolio-border-color;
}
.content-portfolio__title {
  margin: 0 0 4px 0;
  color: $tiile-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  border-right-width: 1px;
}
.content-portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  border-right-width: 1px;
  color: $primary-text-color;
}
.section__portfolio .product-thumb {
  position: relative;
  overflow: hidden;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(294px);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;

  color: $primary-background-color;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}
