%buttun {
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttun--primary {
  @extend %buttun;
  display: inline-block;

  color: $primary-background-color;
  background-color: $accent-color;
  line-height: 1.88;

  letter-spacing: 0.06em;
  padding: 10px 32px;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $accent-secondary-color;
  }
}
.buttun--secondary {
  @extend %buttun;
  display: inline-block;
  color: $tiile-text-color;
  background-color: $third-background-color;
  font-weight: 500;
  line-height: 1.63;
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  text-align: center;

  &:hover,
  &:focus {
    color: $primary-background-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
//backdrop-buttun
.buttun--close {
  @extend %buttun;
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;
  padding: 0;

  border-radius: 50%;
  background: $primary-background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $logo-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.buttun__svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.buttun--submit {
  @extend %buttun;
  display: inline-block;
  padding: 10px 55px 10px 55px;
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $primary-background-color;
  background: $accent-secondary-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

//footer-buttun
.buttun--flex {
  @extend %buttun;
  display: flex;
  align-items: center;
  text-align: center;

  padding: 10px 28px;
  margin-left: 10px;

  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $primary-background-color;
  background: $accent-secondary-color;
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.buttun__svg-send {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}
