body {
  margin: 0;
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.qualities-list__title,
.content-team__title {
  margin-bottom: 10px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.banner--hide,
.section__title--hide,
.social-network-list--hide,
.buttun-text--hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
