// root
$primary-text-color: #757575;
$tiile-text-color: #212121;
$accent-color: #2196f3;
$accent-secondary-color: #188ce8;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$third-background-color: #f5f4fa;
$logo-color: #000000;
$contact-text-footer-color: rgba(255, 255, 255, 0.6);
$header-border-color: #ececec;
$portfolio-border-color: #eeeeee;
$regular-customers-color: #afb1b8;
$team-customers-color: #afb1b8;
